@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
header {
    color: #FF8400;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}


body {
    font-family: 'Roboto';
    color: #000000;
}

#tabela {
    display: flex;
    column-gap: 1rem;
}

#massa {
    color: black;
}

#ing {
    color: black;
}

#relogio {
    height: 30px;
}


#bandeija {
    height: 30px;
}

#hearth {
    height: 30px;
}

#balão {
    height: 30px}

h2 {
    color: #FF8400;
}

#tabela {
    background-color: #e6e6e6;
    
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-left: 1px solid black;
    padding: 15px;
    color: #FF8400;
}

.texto {
    color: #000000;
}